/******************************************************************************* Variables used throughout the theme. To adjust anything, simply edit the variables below and rebuild the theme. *****************************************************************************/
/* Set theme colors *************************/
/****************************************************************************** Content *****************************************************************************/
body { padding-bottom: 70px; color: #111; }

body.fixed-top-nav { padding-top: 56px; }

body.sticky-bottom-footer { padding-bottom: 0; }

.container { max-width: 800px; }

.profile img { width: 100%; }

/****************************************************************************** Publications *****************************************************************************/
/*****************************************************************************
* Projects
*****************************************************************************/
/******************************************************************************* Styles for the base elements of the theme. *****************************************************************************/
a, table.table a { color: black; }
a:hover, table.table a:hover { color: #2698BA; }
a:hover:after, table.table a:hover:after { width: 100%; }

.equation { margin-bottom: 1rem; text-align: center; }

.caption { font-size: 0.875rem; margin-top: 0.75rem; margin-bottom: 1.5rem; text-align: center; }

.profile .address { font-family: monospace; font-size: 1.2rem; }
.profile .address p { margin: 0; }

.navbar { box-shadow: none; border-bottom: 1px solid #e8e8e8; opacity: 0.95; }

.navbar.navbar-light a:hover { text-decoration: none; }
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover { color: #2698BA; }
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link { background-color: inherit; color: #2698BA; font-weight: bolder; }
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover { color: #2698BA; }
.navbar.navbar-light .contact-icon { font-size: 1rem; }
.navbar.navbar-light .contact-icon a { color: #424242; }
.navbar.navbar-light .contact-icon a:hover { color: #2698BA; }

.navbar-toggler .icon-bar { display: block; width: 22px; height: 2px; background-color: #424242; border-radius: 1px; margin-bottom: 4px; transition: all 0.2s; }
.navbar-toggler .top-bar { transform: rotate(45deg); transform-origin: 10% 10%; }
.navbar-toggler .middle-bar { opacity: 0; }
.navbar-toggler .bottom-bar { transform: rotate(-45deg); transform-origin: 10% 90%; }

.navbar-toggler.collapsed .top-bar { transform: rotate(0); }
.navbar-toggler.collapsed .middle-bar { opacity: 1; }
.navbar-toggler.collapsed .bottom-bar { transform: rotate(0); }

.news table td { font-size: 1rem; }

.social { text-align: center; }
.social .contact-icon { font-size: 2rem; }
.social .contact-icon a { color: #424242; }
.social .contact-icon a:hover { color: #2698BA; }
.social .contact-note { font-size: 0.8rem; }

footer.fixed-bottom { color: #c2c2c2; background-color: #424242; font-size: 0.75rem; }
footer.fixed-bottom .container { padding-top: 9px; padding-bottom: 8px; }
footer.fixed-bottom a { color: white; }
footer.fixed-bottom a:hover { color: #7bcce4; text-decoration: none; }

footer.sticky-bottom { border-top: 1px solid #e8e8e8; padding-top: 40px; padding-bottom: 40px; font-size: 0.9rem; }

.header-bar { border-bottom: 1px solid #e8e8e8; text-align: center; padding-top: 2rem; padding-bottom: 5rem; }
.header-bar h1 { color: #2698BA; font-size: 5rem; }

.post-list { margin: 0; margin-bottom: 40px; padding: 0; }
.post-list li { border-bottom: 1px solid #e8e8e8; list-style: none; padding-top: 2rem; padding-bottom: 2rem; }
.post-list li .post-meta { color: #828282; font-size: 0.875rem; margin-bottom: 0; }
.post-list li a { color: black; text-decoration: none; }
.post-list li a:hover { color: #2698BA; }

.pagination .page-item.active .page-link { background-color: #2698BA; }
.pagination .page-item.active .page-link:hover { background-color: #2698BA; }

.distill a:hover { border-bottom-color: #2698BA; text-decoration: none; }

.projects .grid-item { width: 350px; margin-bottom: 10px; }
.projects .grid-item a { color: black; text-decoration: none; }
.projects .grid-item a:hover { color: #2698BA; }
.projects .card img { width: 100%; }

.publications strong { color: #fff; background-color: #ff6969; border-radius: 3px; padding: 2px 5px; font-weight: 300; }

.publications-auto { margin-top: 2rem; }
.publications-auto h2.year { color: #e8e8e8; border-top: 1px solid #e8e8e8; padding-top: 1rem; margin-top: 2rem; margin-bottom: -2rem; text-align: right; }
.publications-auto strong { color: #fff; background-color: #2698BA; border-radius: 3px; padding: 2px 5px; font-weight: 300; overflow: hidden; white-space: nowrap; }
.publications-auto strong.sjrq { padding: 1px 4px; font-size: 0.8em; }
.publications-auto strong.sjrq.NA_Q { background-color: grey; }
.publications-auto strong.sjrq.Q1 { background-color: #a4cf63; }
.publications-auto strong.sjrq.Q2 { background-color: #e8d559; }
.publications-auto strong.sjrq.Q3 { background-color: #fba353; }
.publications-auto strong.sjrq.Q4 { background-color: #dd5a4e; }
.publications-auto ol.bibliography { list-style: square; padding: 0; padding-left: 20px; margin-top: 0; }
.publications-auto ol.bibliography li { margin-bottom: 0.5rem; }
.publications-auto ol.bibliography li .abbr { height: 2rem; margin-bottom: 0.5rem; }
.publications-auto ol.bibliography li .abbr abbr { display: inline-block; background-color: #2698BA; padding-left: 1rem; padding-right: 1rem; }
.publications-auto ol.bibliography li span { display: block; }
.publications-auto ol.bibliography li .title { font-weight: bolder; }
.publications-auto ol.bibliography li .author a { border-bottom: 1px dashed #2698BA; }
.publications-auto ol.bibliography li .author a:hover { border-bottom-style: solid; text-decoration: none; }
.publications-auto ol.bibliography li .author > em { border-bottom: 1px solid; font-style: normal; }
.publications-auto ol.bibliography li em.star { border-bottom: none; color: #2698BA; font-style: normal; }
.publications-auto ol.bibliography li .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.publications-auto ol.bibliography li .hidden p { line-height: 1.4em; margin: 10px; }
.publications-auto ol.bibliography li .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }
.publications-auto ol.bibliography li .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.publications-auto ol.bibliography li span.hidden { border: dashed 1px white; }
.publications-auto ol.bibliography li span.hidden.open { border-color: #828282; }

.education strong { color: #fff; background-color: #2698BA; border-radius: 3px; padding: 2px 5px; font-weight: 300; overflow: hidden; white-space: nowrap; }
.education ol { list-style: square; padding: 0; padding-left: 20px; margin-top: 0; }
.education ol li { margin-bottom: 0.5rem; }
.education ol li .abbr { height: 2rem; margin-bottom: 0.5rem; }
.education ol li .abbr abbr { display: inline-block; background-color: #2698BA; padding-left: 1rem; padding-right: 1rem; }
.education ol li .links a { color: black; }
.education ol li span { display: block; }
.education ol li .title { font-weight: bolder; }
.education ol li .author a { border-bottom: 1px dashed #2698BA; }
.education ol li .author a:hover { border-bottom-style: solid; text-decoration: none; }
.education ol li .author > em { border-bottom: 1px solid; font-style: normal; }
.education ol li em.star { border-bottom: none; color: #2698BA; font-style: normal; }
.education ol li a.featured_content { cursor: pointer; }
.education ol li a.audit { cursor: default; }
.education ol li .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.education ol li .hidden p { line-height: 1.4em; margin: 10px; }
.education ol li .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }
.education ol li .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.education ol li span.hidden { border: dashed 1px white; }
.education ol li span.hidden.open { border-color: #828282; }

.honor { margin-bottom: 1em; }
.honor .year { float: left; color: grey; }

.projects-auto { margin-top: 2rem; }
.projects-auto strong { color: #fff; background-color: #2698BA; border-radius: 3px; padding: 2px 5px; font-weight: 300; overflow: hidden; white-space: nowrap; }
.projects-auto ol { list-style: square; padding: 0; padding-left: 20px; margin-top: 0; }
.projects-auto ol li { margin-bottom: 0.5rem; }
.projects-auto ol li .abbr { height: 2rem; margin-bottom: 0.5rem; }
.projects-auto ol li .abbr abbr { display: inline-block; background-color: #2698BA; padding-left: 1rem; padding-right: 1rem; }
.projects-auto ol li .title { font-weight: bolder; }
.projects-auto ol li .supervisor a { border-bottom: 1px dashed #2698BA; }
.projects-auto ol li .supervisor a:hover { border-bottom-style: solid; text-decoration: none; }
.projects-auto ol li .supervisor > em { border-bottom: 1px solid; font-style: normal; }
.projects-auto ol li em.star { border-bottom: none; color: #2698BA; font-style: normal; }
.projects-auto ol li a.abstract, .projects-auto ol li a.bibtex { cursor: pointer; }
.projects-auto ol li .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.projects-auto ol li .hidden p { line-height: 1.4em; margin: 10px; }
.projects-auto ol li .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }
.projects-auto ol li .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.projects-auto ol li span.hidden { border: dashed 1px white; }
.projects-auto ol li span.hidden.open { border-color: #828282; }

.projects-table .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.projects-table .hidden p { line-height: 1.4em; margin: 10px; }
.projects-table .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }
.projects-table .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
